<!-- Start: Sidebar -->
<div id="sidebar" class="shadow-sm">
  <ul class="list-group list-unstyled d-flex flex-column py-2">
    <li class="py-4 px-3">
      <p routerLink="staffing/staffingList" routerLinkActive="text-primary">
        <span class="fs-2 icon-spinner  p-md-1 cursor-pointer"></span>
      </p>
    </li>
    <li class="py-4 px-3">
      <p routerLink="staffing/staffingForm" routerLinkActive="text-primary">
        <span class="fs-2 icon-spinner  p-md-1 cursor-pointer"></span>
      </p>
    </li>
  </ul>
</div>
<!-- End: Sidebar -->