<div id="sidebar" class="border-muted border-end">
  <ul class="list-group list-unstyled p-2 p-md-4 px-md-4">
    <li class="py-3 py-lg-4 mt-5 list-group-item ">
        <p routerLink="staffingList">
          <span class="fs-1 icon-spinner text-primary p-md-1"></span>
        </p>
    </li>
    <li class="py-4">
        <p routerLink="staffingList">
          <span class="fs-1 icon-spinner5 text-muted p-md-2"></span>
        </p>
    </li>
    <li class="py-4">
        <p routerLink="staffingForm">
          <span class="fs-1 icon-spinner text-muted p-md-2"></span>
        </p>
    </li>
  </ul>
</div>