<div id="sidebar" class="border-end">
  <ul class="list-group list-unstyled p-2 p-md-4 px-md-4 d-flex flex-column align-items-center">
    <li class="py-3 py-lg-4 mt-5 list-group-item ">
        <p routerLink="staffing/staffingList">
          <span class="fs-2 icon-spinner text-primary p-md-1"></span>
        </p>
    </li>
    <li class="py-4">
        <p routerLink="staffing/staffingForm">
          <span class="fs-2 icon-spinner text-muted p-md-1"></span>
        </p>
    </li>
    <!-- <li class="py-4">
        <p routerLink="#">
          <span class="fs-2 icon-spinner text-muted p-md-1"></span>
        </p>
    </li> -->
  </ul>
</div>