<!-- <div class="d-flex flex-column h-100 p-4 overflow-hidden">
    <h3 class="pb-3 overflow-hidden">Staffing</h3>
    <div class="h-100 overflow-hidden">
        <app-staffing-list-presentation [staffList]="StaffingFormData$ | async">
        </app-staffing-list-presentation>
    </div>
    
</div> -->


<div class="p-4 d-flex flex-column flex-grow-1 overflow-hidden bg-graywhite">
    <h3 class="pb-3 overflow-hidden">Staffing</h3>
    <div class="h-100 overflow-hidden">
        <app-staffing-list-presentation [staffList]="StaffingFormData$ | async">
        </app-staffing-list-presentation>
    </div>
</div>