<!-- main app container -->
<div class="card m-4">
    <h2 class="text-center pt-3">{{ formtitle }}</h2>
    <div class="card-body fw-bold text-muted">
        <form [formGroup]="registerForm">
                
                <div class="form-group row mb-3 justify-content-center">
                    <label class="col-2">Project / POC</label>
                    <input type="text" formControlName="project" class="form-control col-5"  />
                    <!-- <div *ngIf="submitted && f.project.errors" class="invalid-feedback">
                        <div *ngIf="f.project.errors.required">Project Name is required</div>
                    </div> -->
                </div>

                <div class="row form-group d-flex mb-3 justify-content-center">
                    <label for="leadName" class="col-2">PM / Lead Name</label>
                    <input type="text" formControlName="leadName" class="form-control col-5"  />
                    <!-- <div *ngIf="submitted && f.leadName.errors" class="invalid-feedback">
                        <div *ngIf="f.leadName.errors.required">Last Name is required</div>
                    </div> -->
                </div>

                <div class="row form-group d-flex mb-3 justify-content-center">
                    <label class="col-2">Module Lead Name</label>
                    <input type="text" formControlName="moduleLeadName" class="form-control col-5" />
                    <!-- <div *ngIf="submitted && f.moduleLead.errors" class="invalid-feedback">
                        <div *ngIf="f.moduleLead.errors.required">Last Name is required</div>
                    </div> -->
                </div>

                <div class="row form-group d-flex mb-3 justify-content-center">
                    <label class="col-2"> Developer Name</label>
                    <input type="text" formControlName="developerName" class="form-control col-5" />
                    <!-- <div *ngIf="submitted && f.developerName.errors" class="invalid-feedback">
                        <div *ngIf="f.developerName.errors.required">Last Name is required</div>
                    </div> -->
                </div>

                <!-- Staffing -->
                <div class="row form-group mb-3 justify-content-center">
                    <label class="col-2">Staffing</label>
                    <select formControlName="staffing" class="form-control col-5" >
                        <option value=""></option>
                        <option value="official">Official</option>
                        <option value="shadow">Shadow</option>
                    </select>
                    <!-- <div *ngIf="submitted && f.staffing.errors" class="invalid-feedback">
                        <div *ngIf="f.staffing.errors.required">Staffing is required</div>
                    </div> -->
                </div>

                <!-- Role -->
                <div class="row form-group  mb-3 justify-content-center">
                    <label class="col-2">Role</label>
                    <select formControlName="role" class="form-control col-5" >
                        <option value=""></option>
                        <option value="UI">UI</option>
                        <option value="frontend">Frontend</option>
                        <option value="mean">Mean</option>
                    </select>
                    <!-- <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                        <div *ngIf="f.role.errors.required">Role is required</div>
                    </div> -->
                </div>

            <!-- Framework -->
                <div class="row form-group col  mb-3 justify-content-center">
                    <label class="col-2">Framework/Tool</label>
                    <select formControlName="frameworkTool" class="form-control col-5" >
                        <option value=""></option>
                        <option value="react">React</option>
                        <option value="angular">Angular</option>
                        <option value="vue">Vue</option>
                    </select>
                    <!-- <div *ngIf="submitted && f.framework.errors" class="invalid-feedback">
                        <div *ngIf="f.framework.errors.required">Framework is required</div>
                    </div> -->
                </div>

                <div class="row form-group mb-3 justify-content-center">
                    <label class="col-2">CSS Framework</label>
                    <select formControlName="cssFramework" class="form-control col-5" >
                        <option value=""></option>
                        <option value="bootsrap">Bootstrap</option>
                        <option value="tailwind">Tailwind</option>
                    </select>
                    <!-- <div *ngIf="submitted && f.cssFramework.errors" class="invalid-feedback">
                        <div *ngIf="f.cssFramework.errors.required">Framework is required</div>
                    </div> -->
                </div>

            <!-- Joining Date -->
                <div class="row form-group justify-content-center mb-3">
                    <label class="col-2">Joining Date</label>
                    <input type="date" formControlName="joiningDate" class="form-control col-5"  />
                    <!-- <div *ngIf="submitted && f.joiningDate.errors" class="invalid-feedback">
                        <div *ngIf="f.joiningDate.errors.required">Date is required</div>
                        <div *ngIf="f.joiningDate.errors.pattern">Date must be a valid date in the format YYYY-MM-DD</div>
                    </div> -->
                </div>

                <div class="row form-group justify-content-center">
                    <label class="col-2">Release Date</label>
                    <input type="date" formControlName="releaseDate" class="form-control col-5"  />
                    <!-- <div *ngIf="submitted && f.releaseDate.errors" class="invalid-feedback">
                        <div *ngIf="f.releaseDate.errors.required">Date is required</div>
                        <div *ngIf="f.releaseDate.errors.pattern">Date must be a valid date in the format YYYY-MM-DD</div>
                    </div> -->
                </div>

            <!-- Status -->
            <!-- Spend Hours --> 
            <!-- Comments -->
            <!-- Billable / Non-Billable -->
            
            <div class="text-center py-5">
                <button class="btn btn-primary" (click)="OnSubmit()" >Register</button>
                <button class="btn btn-gray text-white ms-3" type="reset" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>