<!-- main app container -->
<div class="card border-0 shadow-sm m-4 bg-white">
    <h2 class="text-center pt-3">{{ formtitle }}</h2>
    <div class="card-body fw-bold text-muted">
        <form [formGroup]="registerForm" (ngSubmit)="OnSubmit()">

            <!-- Project Name -->
            <div class="form-group row mb-3 justify-content-center overflow-hidden">
                <label class="col-lg-2 col-10 text-truncate">Project / POC</label>
                <div class="col-lg-6 col-10">
                    <input type="text" formControlName="project" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['project'].errors }" />
                        <div *ngIf="submitted && f['project'].errors" class="text-danger small">
                            <div *ngIf="f['project'].errors['required']">project is required</div>
                        </div>
                </div>
            </div>

            <!-- Lead Name -->
            <div class="row form-group d-flex mb-3 justify-content-center overflow-hidden">
                <label for="leadName" class="col-lg-2 col-10 text-truncate">PM / Lead Name</label>
                <div class="col-lg-6 col-10">
                    <input type="text" formControlName="leadName" class="form-control "
                    [ngClass]="{ 'is-invalid': submitted && f['leadName'].errors }" />
                    <div *ngIf="submitted && f['leadName'].errors" class="text-danger small">
                        <div *ngIf="f['leadName'].errors['required']"> Lead Name is required</div>
                    </div>
                </div>
            </div>

            <!-- Module-Lead Name -->
            <div class="row form-group d-flex mb-3 justify-content-center overflow-hidden">
                <label for="moduleLeadName" class="col-lg-2 col-10 text-truncate">Module Lead Name</label>
                <div class="col-lg-6 col-10">
                    <input type="text" formControlName="moduleLeadName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['moduleLeadName'].errors }" />
                        <div *ngIf="submitted && f['moduleLeadName'].errors" class="text-danger small"> 
                            <div *ngIf="f['moduleLeadName'].errors['required']">Module Lead Name is required</div>
                        </div>
                </div>
            </div>

            <!-- Developer Name -->
            <div class="row form-group d-flex mb-3 justify-content-center overflow-hidden">
                <label class="col-lg-2 col-10 text-truncate"> Developer Name</label>
                <div class="col-lg-6 col-10">
                    <input type="text" formControlName="developerName" class="form-control "
                    [ngClass]="{ 'is-invalid': submitted && f['developerName'].errors }" />
                    <div *ngIf="submitted && f['developerName'].errors" class="text-danger small"> 
                        <div *ngIf="f['developerName'].errors['required']">Developer Name is required</div>
                    </div>
                </div>
            </div>

            <!-- Staffing -->
            <div class="row form-group mb-3 justify-content-center overflow-hidden">
                <label class="col-lg-2 col-10 text-truncate">Staffing</label>
                <div class=" col-lg-6 col-10">
                    <select formControlName="staffing"  [ngClass]="{ 'is-invalid': submitted && f['staffing'].errors }"  class="form-control">
                        <option [ngValue]="c.staffingId" *ngFor="let c of staffing">
                            {{c.staffingName}}
                        </option>

                    </select>
                    <div *ngIf="submitted && f['staffing'].errors" class="text-danger small"> 
                        <div *ngIf="f['staffing'].errors['required']">Staffing is required</div>
                    </div>
                </div>
            </div>

            <!-- Role -->
            <div class="row form-group  mb-3 justify-content-center overflow-hidden">
                <label class="col-lg-2 col-10 text-truncate">Role</label>
                <div class="col-lg-6 col-10">
                    <select formControlName="role"  [ngClass]="{ 'is-invalid': submitted && f['role'].errors }" class="form-control ">
                        <option [ngValue]="c.roleId" *ngFor="let c of role">
                            {{c.roleName}}
                        </option>
                    </select>
                    <div *ngIf="submitted && f['role'].errors" class="text-danger small"> 
                        <div *ngIf="f['role'].errors['required']">Role is required</div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-6 col-12 justify-content-lg-end">
                    <!-- Framework -->
                    <div class="row form-group  mb-3 justify-content-center justify-content-lg-end overflow-hidden">
                        <label class="col-lg-4 col-10 text-truncate">Framework/Tool</label>
                        <div class="col-lg-4 col-10">
                            <select formControlName="frameworkTool"  [ngClass]="{ 'is-invalid': submitted && f['frameworkTool'].errors }"
                                class="form-control ">
                                <option [ngValue]="c.frameworkToolId" *ngFor="let c of frameworkTool">
                                    {{c.frameworkToolName}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f['frameworkTool'].errors" class="text-danger small"> 
                                <div *ngIf="f['frameworkTool'].errors['required']">FrameworkTool is required</div>
                            </div>
                        </div>
                    </div>

                    <!-- Joining Date -->
                    <div class="row form-group justify-content-center justify-content-lg-end mb-3 overflow-hidden">
                        <label class="col-lg-4 col-10 text-truncate">Joining Date</label>
                        <div class="col-lg-4 col-10">
                            <input type="date" formControlName="joiningDate" class="form-control "
                            [ngClass]="{ 'is-invalid': submitted && f['joiningDate'].errors }">
                            <div *ngIf="submitted && f['joiningDate'].errors" class="text-danger small"> 
                                <div *ngIf="f['joiningDate'].errors['required']">JoiningDate is required</div>
                            </div>
                        </div>
                    </div>

                    <!-- Status -->
                    <div class="row form-group justify-content-center justify-content-lg-end mb-3 overflow-hidden">
                        <label class="col-lg-4 col-10 text-truncate">Status</label>
                        <div class="col-lg-4 col-10">
                            <select formControlName="status" [ngClass]="{ 'is-invalid': submitted && f['status'].errors }" class="form-control ">
                                <option [ngValue]="c.statusId" *ngFor="let c of status">
                                    {{c.statusName}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f['status'].errors" class="text-danger small"> 
                                <div *ngIf="f['status'].errors['required']">Status is required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <!-- CSS Framework -->
                    <div class="row form-group justify-content-center justify-content-lg-start mb-3 overflow-hidden">
                        <label class="col-lg-4 col-10 ps-2 ps-lg-5 text-truncate">CSS Framework</label>
                        <div class="col-lg-4 col-10">
                            <select formControlName="cssFramework"  [ngClass]="{ 'is-invalid': submitted && f['cssFramework'].errors }" class="form-control ">
                                <option [ngValue]="c.cssFrameworkId" *ngFor="let c of cssFramework">
                                    {{c.cssFrameworkName}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f['cssFramework'].errors" class="text-danger small"> 
                                <div *ngIf="f['cssFramework'].errors['required']">CSS Framework is required</div>
                            </div>
                        </div>
                    </div>

                    <!-- Release Date -->
                    <div class=" row form-group justify-content-center justify-content-lg-start mb-3 overflow-hidden">
                        <label class="col-lg-4 col-10 ps-2 ps-lg-5 text-truncate">Release Date</label>
                        <div class="col-lg-4 col-10">
                            <input type="date" formControlName="releaseDate" class="form-control "
                            [ngClass]="{ 'is-invalid': submitted && f['releaseDate'].errors }">
                            <div *ngIf="submitted && f['releaseDate'].errors" class="text-danger small"> 
                                <div *ngIf="f['releaseDate'].errors['required']">Release Date is required</div>
                            </div>
                        </div>
                    </div>

                    <!-- Billable / Non-Billable -->
                    <div class="row form-group justify-content-center justify-content-lg-start mb-3 overflow-hidden">
                        <label class="col-lg-4 col-10 ps-2 ps-lg-5 text-truncate">Bill</label>
                        <div class="col-lg-4 col-10">
                            <select formControlName="bill"  [ngClass]="{ 'is-invalid': submitted && f['bill'].errors }" class="form-control ">
                                <option [ngValue]="c.billId" *ngFor="let c of bill">
                                    {{c.billName}}
                                </option>
                            </select>
                            <div *ngIf="submitted && f['bill'].errors" class="text-danger small"> 
                                <div *ngIf="f['bill'].errors['required']">Bill is required</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Spend Hours -->
            <div class="row form-group d-flex mb-3 justify-content-center overflow-hidden">
                <label class="col-lg-2 col-10 text-truncate"> Spend Hours</label>
                <div class="col-lg-6 col-10">
                    <input type="text" formControlName="spendHours" class="form-control "
                    [ngClass]="{ 'is-invalid': submitted && f['spendHours'].errors }">
                    <div *ngIf="submitted && f['spendHours'].errors" class="text-danger small"> 
                        <div *ngIf="f['spendHours'].errors['required']">Spend Hours is required</div>
                    </div>
                </div>
            </div>


            <!-- Comments -->
            <div class="row form-group d-flex mb-3 justify-content-center overflow-hidden">
                <label class="col-lg-2 col-10 text-truncate">Comments</label>
                <div class="col-lg-6 col-10">
                    <input type="text" formControlName="comments" class="form-control "
                    [ngClass]="{ 'is-invalid': submitted && f['comments'].errors }">
                            <div *ngIf="submitted && f['comments'].errors" class="text-danger small"> 
                                <div *ngIf="f['comments'].errors['required']">Comments is required</div>
                            </div>
                </div>
            </div>

            <!-- Buttons -->
            <div class="text-center py-5">
                <button type="submit" class="btn btn-primary">Register</button>
                <button type="button" class="btn btn-gray text-white ms-3" type="reset"
                    (click)="onCancel()">Cancel</button>
            </div>

        </form>
    </div>
</div>