<section class="h-100 d-flex flex-column overflow-hidden">
    <div class="flex-grow-1 overflow-hidden border-bottom">
        <app-header></app-header>
    </div>
    <div class="d-flex h-100 overflow-hidden">
        <app-sidebar></app-sidebar>
        <main class="flex-grow-1 overflow-auto bg-graywhite">
            <router-outlet></router-outlet>
        </main>
    </div>
</section>

<!-- 
<div class="">
    <app-header></app-header>
</div> 
<div class="d-flex h-100 w-100">
    <div class="" >
        <app-sidebar></app-sidebar>
    </div>
    
    <div class=" flex-grow-1 wrapper-container">
        <router-outlet></router-outlet>
    </div>
</div> -->