<div class="d-flex p-3 justify-content-between">
   <h1 class="text-primary ps-lg-4 d-flex m-0 justify-content-center align-items-center">
      <span class="fw-bold">Staff</span>
      <span class="fw-normal">ing</span>
   </h1>
   <div class="d-flex lg-p-3">
      <div class="badge-container me-2 me-md-4 bg-graywhite">
         <span class="icon-bell  text-muted fw-bold"></span>
      </div>
      <div class="badge-container bg-primary">
         <span class="icon-users  text-white fw-bold"></span>
      </div>
   </div>
</div>