<div class="border border-muted rounded bg-white">
    <!-- Start: Header Section -->
    <div class="d-flex justify-content-between border-bottom border-muted p-5">
        <div class="form-control w-50 d-flex p-0 rounded-2 ">
            <input type="text" placeholder="Search" class="border-0 rounded-start p-2 w-75 bg-graywhite">
            <button type="button" class="btn w-25 rounded-0 rounded-end border-0 border-start form-control p-2 px-0 fs-5 text-lightgray bg-graywhite">Filters
                <span class="icon-circle-down p-2"></span>
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-outline-primary me-3 p-md-2 fs-5">Reset</button>
            <button type="button" class="btn btn-primary  p-md-2 fs-5">Add Staff</button>
        </div>
    </div>
    <!-- End: Header Section -->
    <!-- Start: Table Section -->
    <div class=" p-3">
        djvbggbxildufv
    </div>
    <!-- End: Table Section -->
</div>
