<!-- Start: List-wrapper container -->
<div class="rounded bg-white d-flex flex-column overflow-hidden h-100">
    <!-- Start: Header Section -->
    <div class="d-flex  justify-content-between border-bottom  p-4 overflow-hidden">
        <div class="search-box flex-shrink-0 p-0 rounded-2 overflow-hidden ">
            <input type="text" placeholder="Search" class="search-box-input text-lightgray border-0 rounded-start p-2 bg-graywhite text-truncate"  [(ngModel)]="searchText">
        </div>
        <div class="d-flex flex-shrink-0">
            <button type="button" class="btn btn-lightgray me-2 p-lg-2  px-lg-3 fs-6 text-white" type="reset" (click)="onReset()">Reset</button>
            <button type="button" class="btn btn-outline-primary me-2 p-lg-2 px-lg-3  fs-6 d-none d-lg-block position-relative" type="button" (click)="onFilter()"> Filter
                <span *ngIf="notification"
                class="badge-notification position-absolute  top-0 start-100 translate-middle bg-danger border border-light rounded-circle"></span>
            </button>
            <button type="button" class="btn btn-primary  p-lg-2 px-lg-3  fs-6" routerLink="/staffing/staffingForm">Add Staff</button>
        </div>
    </div>
    <!-- End: Header Section -->

    <!-- Start: Table Section -->
    <div class="d-flex flex-column overflow-hidden flex-grow-1">

        <div id="thead" class="overflow-horizontal flex-shrink-0" (scroll)="getTHeadScroll($event)">
            <table class="table mb-0">
                <thead class="border-bottom text-muted fw-lighter overflow-hidden ">
                    <tr class="overflow-hidden">
                        <th class="p-2 text-center text-truncate">Sr. No.</th>
                        <th class="p-2 text-truncate">Developer Name</th>
                        <th class="p-2 text-truncate">Project/POC</th>
                        <th class="p-2 text-truncate">PM/Lead Name</th>
                        <th class="p-2 text-truncate">Module Lead Name</th>
                        <th class="p-2 text-truncate">Staffing</th>
                        <th class="p-2 text-truncate">Role</th>
                        <th class="p-2 text-truncate">Framework/Tool</th>
                        <th class="p-2 text-truncate">CSS Framework</th>
                        <th class="p-2 text-center text-truncate">Joining Date</th>
                        <th class="p-2 text-center text-truncate">Release Date</th>
                        <th class="p-2 text-center text-truncate">Status</th>
                        <th class="p-2 text-center text-truncate">Spend Hours</th>
                        <th class="p-2 text-truncate">Comments</th>
                        <th class="p-2 text-truncate">Action</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="tbody" class="flex-grow-1 overflow-auto d-flex flex-column justify-content-between" (scroll)="getTBodyScroll($event)">
            <div>
                <table class="table mb-0">
                    <tbody class="p-3 ">
                        <tr *ngFor="let m of staffList | paginate: { itemsPerPage: 10, currentPage: p } | filter:searchText, let i = index "
                            class="border-bottom overflow-hidden">
                            <td scope="row text-truncate" class="p-2 text-center">{{ m.id}}</td>
                            <td class="p-2 text-truncate">{{ m.developerName }}</td>
                            <td class="p-2 text-truncate">{{ m.project }}</td>
                            <td class="p-2 text-truncate">{{ m.leadName }}</td>
                            <td class="p-2 text-truncate">{{ m.moduleLeadName }}</td>
                            <td class="p-2 text-truncate">{{ m.staffing | dropDown: staffingList}}</td>
                            <td class="p-2 text-truncate">{{ m.role | dropDown: roleList}}</td>
                            <td class="p-2 text-truncate">{{ m.frameworkTool | dropDown: frameworkToolList }}</td>
                            <td class="p-2 text-truncate">{{ m.cssFramework | dropDown: cssFrameWorkList }}</td>
                            <td class="p-2 text-center text-truncate">{{ m.joiningDate }}</td>
                            <td class="p-2 text-center text-truncate">{{ m.releaseDate }}</td>
                            <td class="p-2 text-center text-truncate">{{ m.status | dropDown: statusList}}</td>
                            <td class="p-2 text-center text-truncate">{{ m.spendHours }} hours</td>
                            <td class="p-2 text-center bill text-truncate">{{ m.bill | dropDown: billList}} Bill</td>
                            <td class="p-2 text-truncate">{{ m.comments }}</td>
                            <td class="p-2 text-truncate">
                                <button class="btn btn-primary me-2" routerLink="/staffing/edit/{{m.id}}">
                                    <span class="icon-files-empty text-white"></span>
                                </button>
                                <button class="btn btn-primary" (click)="onDelete(m.id)">
                                    <span class="icon-bin2 text-white"></span>
                                </button>
                            </td>
                        </tr>
    
                        <tr *ngIf="!staffList?.length">
                            <td colspan="15" class="text-center fw-bold p-4"> No records found.</td>
                        </tr>
    
                    </tbody>
                </table>
            </div>

            
     <!-- Start: Pagination -->
     <div class="pagination pagination-position d-flex align-items-center justify-content-center fs-6  p-2 p-md-5 position-fixed  ">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <!-- End: Pagination -->

        </div>
    </div>
    <!-- End: Table Section -->
</div>
<!-- End: List-wrapper container -->
