.table {
    table-layout: fixed;
    tr {
        th,td {
            width: 155px;
            text-overflow: ellipsis;
        }
    }
} 
.pagination ::ng-deep .ngx-pagination {
    padding-left: 0;
}
.pagination ::ng-deep .ngx-pagination  {
    padding-left: 0;
}

.pagination-position {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.example-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 280px;
    background-color: rgba(255, 255, 255);
    padding: 6px 0;
  }
  
  .example-menu-item,
  .example-standalone-trigger {
    background-color: transparent;
    cursor: pointer;
    border: none;
  
    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
  
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
  }
  
  .example-menu-item:hover {
    background-color: rgb(208, 208, 208);
  }
  
  .example-menu-item:active {
    background-color: rgb(170, 170, 170);
  }
  
  .example-standalone-item {
    background-color: rgb(239, 239, 239);
  }
  .example-standalone-item:hover {
    background-color: rgb(208, 208, 208);
  }
  .example-standalone-item[aria-expanded='true'] {
    background-color: rgb(208, 208, 208);
  }

  #thead::-webkit-scrollbar {
    height: 0;
}
  // .btn{
  //   color: none !important;
  //   border: none !important;
  //   border-left: 1px solid #ced4da !important;
  // }
  
  .badge-notification {
    padding: 5px;
}
// .ngx-pagination {
//     padding-left: 0px !important;
//   }
  
//   .ngx-pagination .current,
//   .btn-info {
//     background: red !important;
//     border: transparent !important;
//     border-radius: 20px !important;
//   }
  
//   .ngx-pagination .current:hover {
//     background: #000000 !important;
//     border-radius: 20px !important; 
//     border: transparent !important;
//   }